use Mix.Config

config :discord_oauth2_server,
  client_id: "",
  client_secret: "",
  redirect_uri: ""

config :discord_oauth2_server, db: [
  types: DiscordOauth2Server.PostgrexTypes,
  pool: DBConnection.Poolboy,
  pool_size: 10,
  hostname: "",
  database: "",
  username: "",
  password: ""
]

config :discord_oauth2_server, DiscordOauth2Server.TokenModule,
   issuer: "",
   expiration: ,
   secret_key: "Use 'mix guardian.gen.secret' to generate a secret to be put right here.",
   serializer: DiscordOauth2Server.GuardianSerializer,
   token_module: DiscordOauth2Server.TokenModule
