use Mix.Config

config :discord_oauth2_server,
  client_id: "",
  client_secret: "",
  redirect_uri: ""

config :discord_oauth2_server, db: [
  types: DiscordOauth2Server.PostgrexTypes,
  pool: DBConnection.Poolboy,
  pool_size: 10,
  hostname: "",
  database: "",
  username: "",
  password: ""
]

config :discord_oauth2_server, DiscordOauth2Server.TokenModule,
 allowed_algos: ["ES512"],
 verify_module: Guardian.JWT,
 issuer: "",
 ttl: { 1, :days },
 allowed_drift: 2000,
 verify_issuer: true,
 secret_key: ""
